# Опробовать rest-доступ для работы с кластером используя утилиту CURL используя python3 и библиотеку requests

https://curl.trillworks.com/

In [1]:
import requests
import json
from pprint import pprint

```
[centos@manager ~]$ curl -X GET 'http://node2.novalocal:14000/webhdfs/v1/acldir?user.name=hdfs&op=LISTSTATUS'
{"FileStatuses":{"FileStatus":[]}}

[centos@manager ~]$ curl -X GET 'http://node2.novalocal:14000/webhdfs/v1/acldir?user.name=hdfs&op=GETCONTENTSUMMARY'
{"ContentSummary":{"directoryCount":1,"fileCount":0,"length":0,"quota":-1,"spaceConsumed":0,"spaceQuota":-1}}
```

In [2]:
params = (
#     ('delegation', TOKEN),
    ('user.name', 'student4_6'),
    ('op', 'LISTSTATUS'),
)

folder = 'student4_6/'
response = requests.get(f'http://node2.novalocal:14000/webhdfs/v1/{folder}', params=params).text
response = json.loads(response)
pprint(response)

{'FileStatuses': {'FileStatus': [{'accessTime': 1590220509965,
                                  'blockSize': 134217728,
                                  'group': 'supergroup',
                                  'length': 228578,
                                  'modificationTime': 1590170128559,
                                  'owner': 'student4_6',
                                  'pathSuffix': 'PBI_Example.xlsx',
                                  'permission': '644',
                                  'replication': 2,
                                  'type': 'FILE'}]}}

In [3]:
params = (
#     ('delegation', TOKEN),
    ('user.name', 'student4_6'),
    ('op', 'GETCONTENTSUMMARY'),
)

folder = 'student4_6/'
response = requests.get(f'http://node2.novalocal:14000/webhdfs/v1/{folder}', params=params).text
response = json.loads(response)
pprint(response)

{'ContentSummary': {'directoryCount': 1,
                    'fileCount': 1,
                    'length': 228578,
                    'quota': -1,
                    'spaceConsumed': 457156,
                    'spaceQuota': -1}}

# [Для любителей программирования] Достучаться до файловой системы используя python и библиотеку `libhdfs3`

In [1]:
from hdfs3 import HDFileSystem
import pandas as pd

In [2]:
hdfs = HDFileSystem(
    host='89.208.221.132', 
    port=8020)
my_folder = '/student4_6/'

https://hdfs3.readthedocs.io/en/latest/api.html

In [5]:
hdfs.mkdir(f'{my_folder}folder_1')

/student4_6/PBI_Example.xlsx
/student4_6/folder_1

In [4]:
hdfs.ls(my_folder)

['/student4_6/PBI_Example.xlsx', '/student4_6/folder_1']

In [6]:
hdfs.cp('/student4_6/PBI_Example.xlsx', '/student4_6/folder_1/')

AttributeError: 'HDFileSystem' object has no attribute 'cp'

In [7]:
for i in hdfs.ls(my_folder):
    print(hdfs.du(path=i))

{'/student4_6/PBI_Example.xlsx/': 228578}
{}

In [8]:
with hdfs.open('/student4_6/PBI_Example.xlsx') as f:
    df = pd.read_excel(f,nrows=300)
df.head(3)

,Дата заказа,Артикул,Город,Название,Цена,Номер заказа,Промокод,Рекмламный канал,Клиент
0,2019-09-01,1000006,Москва,Apple iPhone X,99000.0,26833563,SALE1,Facebook,Client_1022
1,2019-09-02,1000001,Екатеринбург,Apple iPad Pro,72900.0,6639184,SALE2,Facebook,Client_1023
2,2019-09-03,1000007,Санкт-Петербург,Apple iPad Mini 13,60900.0,59610264,SALE3,Facebook,Client_1029

In [133]:
# hdfs.mv(
#     path1='/student4_6/PBI_Example.xlsx/',
#     path2='/student4_6/PBI_2.xlsx', 
# )

In [90]:
# hdfs.put('local-file.txt', '/user/data/remote-file.txt')